.landingText {
    color: #273746;
    font-family: cursive;
    font-weight: 800;
  }
  
  .bgImg {
    background: url('https://wallpapercave.com/wp/wp2574285.jpg') no-repeat center
      center fixed;
    height: 94.2vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  